name: Upload coverage reports to Codecov
on:
  push:
    branches: [ main, Badges ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  run:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_DB: osem_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.8'
      - name: Install dependencies
        run: bundle install
      - name: Set up database
        run: bundle exec rails db:create db:schema:load
        env:
          RAILS_ENV: test
          OSEM_DB_USER: postgres
          OSEM_DB_PASSWORD: mysecretpassword
      - name: Run tests and collect coverage
        run: bundle exec rake
        env:
          RAILS_ENV: test
          OSEM_DB_USER: postgres
          OSEM_DB_PASSWORD: mysecretpassword
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}